services:
  web:
    build: .
    env_file: .env
    environment:
      DB_HOST: db
      POSTGRES_DB: zoho_sync
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 12345
      REDIS_URL: redis://redis:6379/0
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis

  worker:
    build: .
    command: celery -A config worker -l info
    env_file: .env
    environment:
      DB_HOST: db
      POSTGRES_DB: zoho_sync
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 12345
      REDIS_URL: redis://redis:6379/0
    depends_on:
      - db
      - redis

  beat:
    build: .
    command: sh -c "python wait_for_db.py && celery -A config beat -l info"
    env_file: .env
    environment:
      DB_HOST: db
      POSTGRES_DB: zoho_sync
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 12345
      REDIS_URL: redis://redis:6379/0
    depends_on:
      - db
      - redis

  db:
    image: postgres:15
    environment:
      POSTGRES_DB: zoho_sync
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 12345
    volumes:
      - postgres_data:/var/lib/postgresql/data
  redis:
    image: redis:7
volumes:
  postgres_data:

